html
{
	margin: 0px; 
	padding: 0px;
}

body
{
	margin: 0px;
	padding: 0px;
	background: white;
	/*background: rgba(200, 200, 200, 50);*/
}

/*
 * Graph
 */

#info
{
    z-index: 1;
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 75px);
    width: 150px;
    height: 50px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#warning
{
    z-index: 1;
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 20px;
    padding: 3px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background: rgba(255, 150, 0, 0.8);
}

#svg
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

svg
{
	border: none;
}

.node
{
	fill: #ccc;
	stroke: #ddd;
	stroke-width: 1px;
}

.node:hover
{
	stroke: #fff;
	stroke-width: 2px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: 2px;
    color: white;
    background: rgba(50, 50, 50, 0.8);
    pointer-events: none;
}

.link
{
	stroke: #555;
}

.link:hover
{
    stroke: #f00;
}

.label
{
    fill: #444;
    stroke: #444;
    font-family: helvetica;
    font-size: 8pt;
    opacity: 1.0;
    display: block;
    top: 100px;
    left: 100px;
    position: absolute;
    background: red;
    width: 100px;
    height: 200px;
}

/*
 * Chart
 */

div.chartbar
{
    position: fixed;
}

#chart-container
{
    position: absolute;
    top: 100%;
    width: 100%;
    text-align: center;
}

#chart-container div
{
    max-width: 100%;
}

#chart-container .stat-chart
{
    margin: 50px 0 25px 0;
}

#chart-container button
{
    min-width: 100px;
    min-height: 30px;
    margin: 0px 5px 0px 5px;
    border: 1px solid #555555;
    border-radius: 3px;
    outline: 0;
    color: black;
    background: linear-gradient(rgba(255, 255, 255, 255), rgba(200, 200, 200, 255));
}

#chart-container button:hover
{
    background: linear-gradient(rgba(200, 200, 200, 255), rgba(255, 255, 255, 255));
}

#chart-container button:active
{
    border: 1px solid green;
}

/*
 * Table
 */

div.stat-table
{
    margin: 0 5% 0 5%;
    width: 90%;
    tex-align: center;
    transition: 500ms;
}

.stat-table table, table
{
    margin: 40px 5% 0 5% !important;
    width: 90%;
    min-width: 500px;
    padding: 0;
    margin: 0;
    flex: 1;
    white-space: nowrap;
    border-spacing: 0;
    border-collapse: collapse;
    cursor: pointer;
    color: black;
}

.stat-table thead th
{
    padding: 5px 5px 5px 5px;
    border: 1px solid black;
    border-bottom: 2px solid black;
    cursor: pointer;
    background: rgba(220, 220, 220, 255);
    transition: 500ms;
}

.stat-table thead th:hover
{
    background: rgba(180, 180, 180, 255);
}

.hidden
{
    display: none;
}

.stat-table tbody tr
{
    transition: 500ms;
}

.stat-table tbody tr:nth-child(odd)
{
    background: rgba(255, 255, 255, 255);
}

.stat-table tbody tr:nth-child(even)
{
    background: rgba(220, 220, 220, 250);
}

.stat-table tbody tr:hover
{
    background: rgba(0, 150, 255, 50);
}

.stat-table tbody td
{
    border-bottom: 1px solid rgba(0, 0, 0, 255);
    transition: 500ms;
}

.stat-table tbody td:empty:before
{
    content: "\200b";
}